In [1]:
import pandas as pd
import numpy as np 
import math

import seaborn as sns
import matplotlib.pyplot as plt

from scipy import stats

In [2]:
df_main = pd.read_csv("my-data-set.csv")
df_copy = df_main.copy()

In [3]:
df_copy.head()

,Unnamed: 0,winner,loser,weight class,method,win_round,win time,winner age,loser age,winner_wins,...,loser wins,loser loses,winner height,loser height,winner reach,loser reach,winner leg reach,loser leg reach,Event name,date
0,0,Ketlen Vieira,Holly Holm,Women's Bantamweight,"Decision (split) (47–48, 48–47, 48–47)",5.0,5:00,30,40,12,...,14,5,68.0,68.0,68.0,69.0,39.5,38.0,UFC Fight Night: Holm vs. Vieira,"May 21, 2022"
1,1,Michel Pereira,Santiago Ponzinibbio,Welterweight,"Decision (split) (28–29, 30–27, 29–28)",3.0,5:00,28,35,27,...,28,5,73.0,72.0,73.0,73.0,42.0,40.5,UFC Fight Night: Holm vs. Vieira,"May 21, 2022"
2,2,Chidi Njokuani,Duško Todorović,Middleweight,KO (elbow),1.0,4:48,33,28,21,...,11,2,75.0,73.0,80.0,74.0,45.0,41.0,UFC Fight Night: Holm vs. Vieira,"May 21, 2022"
3,3,Tabatha Ricci,Polyana Viana,Women's Strawweight,"Decision (unanimous) (29–28, 29–28, 29–28)",3.0,5:00,27,29,6,...,12,4,61.0,65.0,61.0,67.0,36.0,38.5,UFC Fight Night: Holm vs. Vieira,"May 21, 2022"
4,4,Park Jun-yong,Eryk Anders,Middleweight,"Decision (split) (28–29, 29–28, 29–28)",3.0,5:00,0,35,13,...,14,6,0.0,73.0,0.0,75.0,0.0,43.5,UFC Fight Night: Holm vs. Vieira,"May 21, 2022"

In [4]:
df_copy.describe()

,Unnamed: 0,win_round,winner age,loser age,winner_wins,winner loses,loser loses,winner height,loser height,winner reach,loser reach,winner leg reach,loser leg reach
count,4935.000000,4840.000000,4935.000000,4935.000000,4935.000000,4935.000000,4935.000000,4935.000000,4935.000000,4935.000000,4935.000000,4935.000000,4935.000000
mean,2467.000000,2.396488,20.691185,18.945694,14.346505,3.764742,4.251672,57.844174,54.082979,57.458967,52.678926,29.722594,25.772746
std,1424.756119,1.009169,17.515697,19.463307,7.262682,3.165604,3.408644,30.193019,33.321557,29.280965,31.977525,17.838178,19.343739
min,0.000000,1.000000,-29.000000,-29.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1233.500000,1.000000,23.000000,-1.000000,9.000000,1.000000,2.000000,65.000000,61.000000,65.000000,0.000000,0.000000,0.000000
50%,2467.000000,3.000000,28.000000,28.000000,13.000000,3.000000,3.000000,69.000000,69.000000,71.000000,70.000000,39.000000,38.000000
75%,3700.500000,3.000000,31.000000,32.000000,18.000000,5.000000,6.000000,72.000000,72.000000,74.000000,74.000000,41.000000,41.000000
max,4934.000000,5.000000,45.000000,45.000000,77.000000,23.000000,21.000000,232.000000,232.000000,84.500000,84.500000,48.000000,48.000000

In [5]:
df_copy.dtypes

Unnamed: 0            int64
winner               object
loser                object
weight class         object
method               object
win_round           float64
win time             object
winner age            int64
loser age             int64
winner_wins           int64
winner loses          int64
loser wins           object
loser loses           int64
winner height       float64
loser height        float64
winner reach        float64
loser reach         float64
winner leg reach    float64
loser leg reach     float64
Event name           object
date                 object
dtype: object

In [6]:
#loser wins is object. i will convert it to int.
df_copy.loc[df_copy['loser wins'] == "13-15"] = 0

df_copy['loser wins'] = df_copy['loser wins'].astype(str).astype(int)

df_copy.describe()

,Unnamed: 0,win_round,winner age,loser age,winner_wins,winner loses,loser wins,loser loses,winner height,loser height,winner reach,loser reach,winner leg reach,loser leg reach
count,4935.000000,4840.000000,4935.000000,4935.000000,4935.000000,4935.000000,4935.000000,4935.000000,4935.000000,4935.000000,4935.000000,4935.000000,4935.000000,4935.000000
mean,2466.710638,2.395868,20.684904,18.939412,14.342857,3.762107,14.549747,4.251672,57.829990,54.068997,57.444073,52.665755,29.714286,25.765046
std,1425.112144,1.009719,17.517557,19.464418,7.265366,3.163326,7.619705,3.408644,30.203748,33.329772,29.291495,31.985835,17.842472,19.346434
min,0.000000,0.000000,-29.000000,-29.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1232.500000,1.000000,23.000000,-1.000000,9.000000,1.000000,9.000000,2.000000,65.000000,61.000000,65.000000,0.000000,0.000000,0.000000
50%,2467.000000,3.000000,28.000000,28.000000,13.000000,3.000000,13.000000,3.000000,69.000000,68.500000,71.000000,70.000000,39.000000,38.000000
75%,3700.500000,3.000000,31.000000,32.000000,18.000000,5.000000,18.000000,6.000000,72.000000,72.000000,74.000000,74.000000,41.000000,41.000000
max,4934.000000,5.000000,45.000000,45.000000,77.000000,23.000000,80.000000,21.000000,232.000000,232.000000,84.500000,84.500000,48.000000,48.000000

In [7]:
# fix winner age and loser age negative values.

# set negative age to none. to calc currectly mean age.
df_copy.loc[df_copy['winner age'] <= 0, ['winner age']] = None
df_copy.loc[df_copy['loser age'] <= 0, ['loser age']] = None

winner_mean_age = round(df_copy['winner age'].mean())
loser_mean_age = round(df_copy['loser age'].mean())

#fill none ages to mean value
df_copy['winner age'] = df_copy['winner age'].fillna(winner_mean_age)
df_copy['loser age'] = df_copy['loser age'].fillna(loser_mean_age)

df_copy.describe()

,Unnamed: 0,win_round,winner age,loser age,winner_wins,winner loses,loser wins,loser loses,winner height,loser height,winner reach,loser reach,winner leg reach,loser leg reach
count,4935.000000,4840.000000,4935.000000,4935.000000,4935.000000,4935.000000,4935.000000,4935.000000,4935.000000,4935.000000,4935.000000,4935.000000,4935.000000,4935.000000
mean,2466.710638,2.395868,28.968997,29.946302,14.342857,3.762107,14.549747,4.251672,57.829990,54.068997,57.444073,52.665755,29.714286,25.765046
std,1425.112144,1.009719,3.600890,3.584432,7.265366,3.163326,7.619705,3.408644,30.203748,33.329772,29.291495,31.985835,17.842472,19.346434
min,0.000000,0.000000,19.000000,19.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1232.500000,1.000000,27.000000,28.000000,9.000000,1.000000,9.000000,2.000000,65.000000,61.000000,65.000000,0.000000,0.000000,0.000000
50%,2467.000000,3.000000,29.000000,30.000000,13.000000,3.000000,13.000000,3.000000,69.000000,68.500000,71.000000,70.000000,39.000000,38.000000
75%,3700.500000,3.000000,31.000000,32.000000,18.000000,5.000000,18.000000,6.000000,72.000000,72.000000,74.000000,74.000000,41.000000,41.000000
max,4934.000000,5.000000,45.000000,45.000000,77.000000,23.000000,80.000000,21.000000,232.000000,232.000000,84.500000,84.500000,48.000000,48.000000

In [8]:
#fix loser loses data
#fix negative values by removing them (because there are small amout  of them)
print(df_copy.loc[df_copy['loser loses'] < 0,['loser loses']].count())

#removing negative values
df_copy.drop(df_copy[df_copy['loser loses'] < 0].index, inplace=True)
df_copy.describe()

loser loses    9
dtype: int64

,Unnamed: 0,win_round,winner age,loser age,winner_wins,winner loses,loser wins,loser loses,winner height,loser height,winner reach,loser reach,winner leg reach,loser leg reach
count,4926.000000,4833.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000
mean,2465.129517,2.394579,28.967925,29.949858,14.344093,3.762282,14.556841,4.261267,57.852619,54.052781,57.507207,52.644539,29.744316,25.753350
std,1424.884760,1.009530,3.599688,3.584134,7.270883,3.165058,7.624561,3.404349,30.101004,33.344205,29.248015,31.996060,17.826810,19.347996
min,0.000000,0.000000,19.000000,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1231.250000,1.000000,27.000000,28.000000,9.000000,1.000000,9.000000,2.000000,65.000000,61.000000,65.000000,0.000000,0.000000,0.000000
50%,2464.500000,3.000000,29.000000,30.000000,13.000000,3.000000,13.000000,3.000000,69.000000,68.500000,71.000000,70.000000,39.000000,38.000000
75%,3697.750000,3.000000,31.000000,32.000000,18.000000,5.000000,18.000000,6.000000,72.000000,72.000000,74.000000,74.000000,41.000000,41.000000
max,4934.000000,5.000000,45.000000,45.000000,77.000000,23.000000,80.000000,21.000000,232.000000,232.000000,84.500000,84.500000,48.000000,48.000000

In [9]:
# fix bad fighters heights values, like 0.

# set 0 height values to none. to calc currectly mean height.
df_copy.loc[df_copy['winner height'] == 0, ['winner height']] = None
df_copy.loc[df_copy['loser height'] == 0, ['loser height']] = None

winner_mean_height = round(df_copy['winner height'].mean())
loser_mean_height = round(df_copy['loser height'].mean())

#fill none heights to mean value
df_copy['winner height'] = df_copy['winner height'].fillna(winner_mean_height)
df_copy['loser height'] = df_copy['loser height'].fillna(loser_mean_height)


df_copy.describe()

,Unnamed: 0,win_round,winner age,loser age,winner_wins,winner loses,loser wins,loser loses,winner height,loser height,winner reach,loser reach,winner leg reach,loser leg reach
count,4926.000000,4833.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000
mean,2465.129517,2.394579,28.967925,29.949858,14.344093,3.762282,14.556841,4.261267,71.372310,71.928542,57.507207,52.644539,29.744316,25.753350
std,1424.884760,1.009530,3.599688,3.584134,7.270883,3.165058,7.624561,3.404349,10.896217,12.111268,29.248015,31.996060,17.826810,19.347996
min,0.000000,0.000000,19.000000,19.000000,0.000000,0.000000,0.000000,0.000000,60.000000,60.000000,0.000000,0.000000,0.000000,0.000000
25%,1231.250000,1.000000,27.000000,28.000000,9.000000,1.000000,9.000000,2.000000,68.000000,68.500000,65.000000,0.000000,0.000000,0.000000
50%,2464.500000,3.000000,29.000000,30.000000,13.000000,3.000000,13.000000,3.000000,71.000000,72.000000,71.000000,70.000000,39.000000,38.000000
75%,3697.750000,3.000000,31.000000,32.000000,18.000000,5.000000,18.000000,6.000000,72.000000,72.000000,74.000000,74.000000,41.000000,41.000000
max,4934.000000,5.000000,45.000000,45.000000,77.000000,23.000000,80.000000,21.000000,232.000000,232.000000,84.500000,84.500000,48.000000,48.000000

In [10]:
# fix bad fighters reaches values, like 0.

# set 0 reaches values to none. to calc currectly mean reach.
df_copy.loc[df_copy['winner reach'] == 0, ['winner reach']] = None
df_copy.loc[df_copy['loser reach'] == 0, ['loser reach']] = None

df_copy.loc[df_copy['winner leg reach'] == 0, ['winner leg reach']] = None
df_copy.loc[df_copy['loser leg reach'] == 0, ['loser leg reach']] = None


winner_mean_reach = round(df_copy['winner reach'].mean())
loser_mean_reach = round(df_copy['loser reach'].mean())
winner_mean_leg_reach = round(df_copy['winner leg reach'].mean())
loser_mean_leg_reach = round(df_copy['loser leg reach'].mean())

#fill none reaches to mean value
df_copy['winner reach'] = df_copy['winner reach'].fillna(winner_mean_reach)
df_copy['loser reach'] = df_copy['loser reach'].fillna(loser_mean_reach)
df_copy['winner leg reach'] = df_copy['winner leg reach'].fillna(winner_mean_leg_reach)
df_copy['loser leg reach'] = df_copy['loser leg reach'].fillna(loser_mean_leg_reach)


df_copy.describe()

,Unnamed: 0,win_round,winner age,loser age,winner_wins,winner loses,loser wins,loser loses,winner height,loser height,winner reach,loser reach,winner leg reach,loser leg reach
count,4926.000000,4833.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000
mean,2465.129517,2.394579,28.967925,29.949858,14.344093,3.762282,14.556841,4.261267,71.372310,71.928542,72.094296,71.879618,40.194986,40.085465
std,1424.884760,1.009530,3.599688,3.584134,7.270883,3.165058,7.624561,3.404349,10.896217,12.111268,3.877828,3.638182,2.201336,1.986171
min,0.000000,0.000000,19.000000,19.000000,0.000000,0.000000,0.000000,0.000000,60.000000,60.000000,60.000000,60.000000,32.000000,32.000000
25%,1231.250000,1.000000,27.000000,28.000000,9.000000,1.000000,9.000000,2.000000,68.000000,68.500000,70.000000,70.000000,39.000000,39.000000
50%,2464.500000,3.000000,29.000000,30.000000,13.000000,3.000000,13.000000,3.000000,71.000000,72.000000,72.000000,72.000000,40.000000,40.000000
75%,3697.750000,3.000000,31.000000,32.000000,18.000000,5.000000,18.000000,6.000000,72.000000,72.000000,74.000000,74.000000,41.000000,41.000000
max,4934.000000,5.000000,45.000000,45.000000,77.000000,23.000000,80.000000,21.000000,232.000000,232.000000,84.500000,84.500000,48.000000,48.000000

In [11]:
#fix win round none values with mean value.

df_copy['win_round'] = df_copy['win_round'].fillna(round(df_copy['win_round'].mean()))
                                                   
df_copy.describe()

,Unnamed: 0,win_round,winner age,loser age,winner_wins,winner loses,loser wins,loser loses,winner height,loser height,winner reach,loser reach,winner leg reach,loser leg reach
count,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000,4926.000000
mean,2465.129517,2.387130,28.967925,29.949858,14.344093,3.762282,14.556841,4.261267,71.372310,71.928542,72.094296,71.879618,40.194986,40.085465
std,1424.884760,1.001394,3.599688,3.584134,7.270883,3.165058,7.624561,3.404349,10.896217,12.111268,3.877828,3.638182,2.201336,1.986171
min,0.000000,0.000000,19.000000,19.000000,0.000000,0.000000,0.000000,0.000000,60.000000,60.000000,60.000000,60.000000,32.000000,32.000000
25%,1231.250000,1.000000,27.000000,28.000000,9.000000,1.000000,9.000000,2.000000,68.000000,68.500000,70.000000,70.000000,39.000000,39.000000
50%,2464.500000,3.000000,29.000000,30.000000,13.000000,3.000000,13.000000,3.000000,71.000000,72.000000,72.000000,72.000000,40.000000,40.000000
75%,3697.750000,3.000000,31.000000,32.000000,18.000000,5.000000,18.000000,6.000000,72.000000,72.000000,74.000000,74.000000,41.000000,41.000000
max,4934.000000,5.000000,45.000000,45.000000,77.000000,23.000000,80.000000,21.000000,232.000000,232.000000,84.500000,84.500000,48.000000,48.000000

In [12]:
#delete weight class NaN

df_copy.dropna(inplace=True)

In [13]:
#clean method columns

df_copy['method'] = df_copy['method'].str.replace(r"\(.*?\)", "", regex=True)
df_copy['weight class'] = df_copy['weight class'].str.replace(r"\(.*?\)", "", regex=True)

df_copy.drop(df_copy[df_copy['win time'] == 0].index, inplace=True)

In [14]:
#fix win time from string to number

def timeToNumber(time):
    timeArr = time.split(':')
    
    return int(timeArr[0]) * 60 + int(timeArr[1])
    
    
df_copy['win time'] = df_copy['win time'].apply(timeToNumber)

In [15]:
#win round and win time fix

df_copy.loc[df_copy['win time'] > 300, ['win time']] = 300
df_copy.loc[df_copy['win_round'] > 5, ['win_round']] = 5

In [16]:
#make categories

#fix method string

df_copy['method'] = df_copy['method'].str.replace(r"\[.*?\]", "", regex=True)
df_copy['method'] = df_copy['method'].apply(lambda x: x.lower())
df_copy['method'] = df_copy['method'].apply(lambda x: x.strip())
df_copy.loc[df_copy['method'] == "n/c", ['method']] = "no contest"
df_copy.loc[df_copy['method'] == "technical decision", ['method']] = "decision"
df_copy.loc[df_copy['method'] == "technical submission", ['method']] = "submission"
df_copy.loc[df_copy['method'] == "dq", ['method']] = "disqualification"
df_copy.loc[df_copy['method'] == "unanimous decision", ['method']] = "decision"

 

#fix weight class string
df_copy['weight class'] = df_copy['weight class'].apply(lambda x: x.lower())
df_copy['weight class'] = df_copy['weight class'].apply(lambda x: x.strip())



df_copy['method'] = pd.CategoricalIndex(df_copy['method'])
df_copy['weight class'] = pd.CategoricalIndex(df_copy['weight class'])

df_copy['method category'] = df_copy['method'].cat.codes
df_copy['weight class category'] = df_copy['weight class'].cat.codes

df_copy.head()

,Unnamed: 0,winner,loser,weight class,method,win_round,win time,winner age,loser age,winner_wins,...,winner height,loser height,winner reach,loser reach,winner leg reach,loser leg reach,Event name,date,method category,weight class category
0,0,Ketlen Vieira,Holly Holm,women's bantamweight,decision,5.0,300,30.0,40.0,12,...,68.0,68.0,68.0,69.0,39.5,38.0,UFC Fight Night: Holm vs. Vieira,"May 21, 2022",0,9
1,1,Michel Pereira,Santiago Ponzinibbio,welterweight,decision,3.0,300,28.0,35.0,27,...,73.0,72.0,73.0,73.0,42.0,40.5,UFC Fight Night: Holm vs. Vieira,"May 21, 2022",0,8
2,2,Chidi Njokuani,Duško Todorović,middleweight,ko,1.0,288,33.0,28.0,21,...,75.0,73.0,80.0,74.0,45.0,41.0,UFC Fight Night: Holm vs. Vieira,"May 21, 2022",3,7
3,3,Tabatha Ricci,Polyana Viana,women's strawweight,decision,3.0,300,27.0,29.0,6,...,61.0,65.0,61.0,67.0,36.0,38.5,UFC Fight Night: Holm vs. Vieira,"May 21, 2022",0,12
4,4,Park Jun-yong,Eryk Anders,middleweight,decision,3.0,300,29.0,35.0,13,...,71.0,73.0,72.0,75.0,40.0,43.5,UFC Fight Night: Holm vs. Vieira,"May 21, 2022",0,7

In [17]:
#save to csv file

df_copy.to_csv("my-data-set-cleared.csv")